/*---------------------------------TAG Selector---------------------*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    
}

h2, h3 {
    font-family: 'Montserrat-Bold',sans-serif;
    color: #fff;
    font-weight: bold;
}



em {
    color: #fff;
}

/*---------------------------------CLASS Selector--------------------*/
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    size: 2.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}


.download-button {
    margin: 5% 3% 5% 0;
}


.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.image-correction {
    position: relative;
}

@media (max-width: 991px) {
    .title-image {
      padding-top: 30px;
    }
    
  }

.icon  {
    color: #ef8172;
    margin-bottom: 10px;
}

.icon:hover {
    color: #ff4c68;

}

.testimonials-image {
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


.pricing {
    padding: 3% 2%;
}

.f-i {
    padding: 20px 10px;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
}

/*---------------------------------ID Selector----------------------*/
#title {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 9%;
}

#main {
    padding: 3% 15%;
}

#allign {
    padding-left: 0;
    padding-right: 0;
}

#features-2{
    font-weight: bolder;
    font-size: 1.4rem;
}

#features {
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

#features-3 {
    color: #8f8f8f;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

#pricing h2 {
    color: black;
}

#pricing {
    text-align: center;
    padding: 15% 7%;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}


/* ------------------------------------------------------------------------------ */

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}